# SQL Alchemy

SQL Alchemy is a an [ORM - Object Relation Mapping](http://docs.sqlalchemy.org/en/latest/orm/tutorial.html) which allows to associate Python classes to Databases. Following is gist of how it works 

1. Classes are mapped to Tables
2. Instances are mapped to Rows
3. Attributes are mapped to Columns in Tables

This is useful when working with database, it allows us to query databases without having to write queries.

In [1]:
import sqlalchemy
print sqlalchemy.__version__

1.0.8

## Connecting to Databases

In [3]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///mydb.sqlite', echo=True)

**Note:**

1. `echo` flag is used to set verbosity of SQLAlchemy, in production it must be set to False
2. Return value of `create_engine` is a `engine` instance, which is what is used to work with Databases
3. The engine that is created is not talking to DB yet, it will do so when engine is asked to perform some tasks

## Declare a Mapping

When working with ORM, you need to define two things 

1. Class that will represent code/objects that will be used in the application
2. Mapping of Classes to actual DB Tables

In SQLAlchemy this is done using a single step using [Declarative](http://docs.sqlalchemy.org/en/latest/orm/extensions/declarative/index.html). Using this system we need to inherit all Classes that we want to map to DB using Base.

In [4]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String
Base = declarative_base()

class User(Base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (self.name, self.fullname, self.password)

Base.metadata.create_all(engine)

2016-03-04 12:08:37,304 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2016-03-04 12:08:37,305 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2016-03-04 12:08:37,306 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2016-03-04 12:08:37,306 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2016-03-04 12:08:37,308 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2016-03-04 12:08:37,308 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

**Note:** 

In code listing above, **`Base.metadata.create_all(engine)`** is used to acutally create the DB and its associated Tables.

In [6]:
# Metadata for Class user is stored in __table__
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('password', String(), table=<users>), schema=None)

## Creating Session and updating DB

In [5]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()
sidharth = User(name="iamsidd", fullname="Sidharth Shah", password="mylittlesecret")
session.add(sidharth)
session.commit()
print "Added Sidharth to DB"

2016-03-04 12:08:45,261 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2016-03-04 12:08:45,262 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

2016-03-04 12:08:45,263 INFO sqlalchemy.engine.base.Engine ('iamsidd', 'Sidharth Shah', 'mylittlesecret')

INFO:sqlalchemy.engine.base.Engine:('iamsidd', 'Sidharth Shah', 'mylittlesecret')

2016-03-04 12:08:45,265 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

Added Sidharth to DB

 You can also rollback changes using **`session.rollback()`**, but this will only roll back changes made session between commits.

## Querying

In [6]:
for instance in session.query(User).order_by(User.id):
    print instance.name, instance.fullname

2016-03-04 12:08:48,162 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2016-03-04 12:08:48,164 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id

INFO:sqlalchemy.engine.base.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id

2016-03-04 12:08:48,165 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

iamsidd Sidharth Shah
iamsidd Sidharth Shah

### Aliasing is a feature that will allow you to give friendly names to classes

In [7]:
from sqlalchemy.orm import aliased
user_alias = aliased(User, name='user_alias')

for row in session.query(user_alias, user_alias.name).all():
    print(row.user_alias)

2016-03-04 12:12:24,260 INFO sqlalchemy.engine.base.Engine SELECT user_alias.id AS user_alias_id, user_alias.name AS user_alias_name, user_alias.fullname AS user_alias_fullname, user_alias.password AS user_alias_password
FROM users AS user_alias

INFO:sqlalchemy.engine.base.Engine:SELECT user_alias.id AS user_alias_id, user_alias.name AS user_alias_name, user_alias.fullname AS user_alias_fullname, user_alias.password AS user_alias_password
FROM users AS user_alias

2016-03-04 12:12:24,261 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

<User(name='iamsidd', fullname='Sidharth Shah', password='mylittlesecret')>
<User(name='iamsidd', fullname='Sidharth Shah', password='mylittlesecret')>

In [10]:
for u in session.query(User).order_by(User.id)[1:]:
    print u.name

2016-03-04 12:14:16,348 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
 LIMIT ? OFFSET ?

2016-03-04 12:14:16,349 INFO sqlalchemy.engine.base.Engine (-1, 1)

INFO:sqlalchemy.engine.base.Engine:(-1, 1)

iamsidd

In [11]:
for u in session.query(User).filter_by(fullname='Sidharth Shah'):
    print u.name

2016-03-04 12:14:39,365 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.fullname = ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.fullname = ?

2016-03-04 12:14:39,365 INFO sqlalchemy.engine.base.Engine ('Sidharth Shah',)

INFO:sqlalchemy.engine.base.Engine:('Sidharth Shah',)

iamsidd
iamsidd

In [15]:
query = session.query(User).filter(User.name.like('%iam%')).order_by(User.id)
query.all()

2016-03-04 12:18:16,745 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE ? ORDER BY users.id

INFO:sqlalchemy.engine.base.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE ? ORDER BY users.id

2016-03-04 12:18:16,746 INFO sqlalchemy.engine.base.Engine ('%iam%',)

INFO:sqlalchemy.engine.base.Engine:('%iam%',)

[<User(name='iamsidd', fullname='Sidharth Shah', password='mylittlesecret')>,
 <User(name='iamsidd', fullname='Sidharth Shah', password='mylittlesecret')>]

In [16]:
query.first()

2016-03-04 12:18:27,197 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE ? ORDER BY users.id
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE ? ORDER BY users.id
 LIMIT ? OFFSET ?

2016-03-04 12:18:27,197 INFO sqlalchemy.engine.base.Engine ('%iam%', 1, 0)

INFO:sqlalchemy.engine.base.Engine:('%iam%', 1, 0)

In [17]:
query.count()

2016-03-04 12:18:49,125 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE ? ORDER BY users.id) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name LIKE ? ORDER BY users.id) AS anon_1

2016-03-04 12:18:49,126 INFO sqlalchemy.engine.base.Engine ('%iam%',)

INFO:sqlalchemy.engine.base.Engine:('%iam%',)

2